body{
    padding: 0%;
    margin: 0px;
    background-color: #f8f9fa;
}
.navbar-brand{
    color: blue;
}
.shapes{
    display: flex;
    flex-direction: row;
}
.s1{
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.s2{
    margin-left: 200px;
    margin-top: 100px;
}
.s3{
    display: flex;
    align-items: flex-end;
    justify-content: last baseline;
    margin-left: 200px;
}
.y1{
    margin-left: 90px;
    margin-top: 50px;
}
.y2{
    display: flex;
    flex-direction: column;
    margin-left: 231px;
    margin-top: 50px;
}
.top-section{
    min-height: 70vh;
      align-items: center;
      justify-content: center;
      background: #fff;
      border-radius: 20px;
      padding: 60px;
      position: relative;
      overflow: hidden;
}
h2{
    margin-top: 40px;
    margin-left: 91px;
}
p{
    margin-left: 91px;
    margin-bottom: 25px;
}
h6{
    color: blue;
    margin-left: 91px;
    margin-bottom: 20px;
    
}
.social-icons a{
    color: rgb(101, 100, 100);
}

.tech-badge{
    display: inline-block;
    background: #EBEBEBFF;
    color: #6070FF;
    padding-left: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 30px;
    
}
.contain2{
    height: 546px;
    margin-top: 100px;
}
.card{
    height: 450px ;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin: auto;
    border: 85px;
}
.left-card{
    margin-top: 25px;
    align-items: flex-start;
    justify-content: left;
    margin-left: 15px;
}
.right-card{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: right;
    margin-top: 60px;
}
h5{
    margin-bottom: 25px;
}
.contain3{
    height:456px;
    background: #fff;
    display: flex;
    flex-direction: row;
}
.left-contain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 30px;
    margin-left: 20px;
}
i{
    margin-top: 25px;
    margin-left: 91px;
}
.right-contain{
     display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: right;
    margin-top: 40px;
    margin-left: 20px;
}
.contain4{
    height: 556px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-color: #6070FF;
}
h1{
    margin-top: 100px; 
}
.b3{
    background-color: #f8f9fa;
    margin-left: 0px;
}
